datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
}

option {
    padding: 0;
    transform: rotateZ(270deg);
    text-align: center;
}

input[type="range"] {
    width: 200px;
    margin: 0;
}
